<div class="row">
<div class="span12">      		
	   		
	<div class="widget ">
		<div class="widget-header">
			<i class="icon-plus"></i>
 			<h3>添加传感器</h3>
		</div> <!-- /widget-header -->

		<div class="widget-content">
		
		<div class="alert alert-danger hide" role="alert"></div>

		<form id="add-task" action="{{urlfor "SensorController.Add"}}" method="post" class="form-horizontal">

			<fieldset>
				
				<div class="control-group">											
					<label class="control-label" for="task_name">传感器名称</label>
					<div class="controls">
						<input type="text" name="sensor_name" class="span6" id="sensor_name">
					</div>				
				</div>
								
				<div class="control-group">											
					<label class="control-label" for="description">通道名称</label>
					<div class="controls">
							<input type="text" name="channel_name" class="span6" id="channel_name">
					</div> <!-- /controls -->				
				</div> <!-- /control-group -->

					<div class="control-group">											
					<label class="control-label" for="timeout">小数位数</label>
					<div class="controls">
						<input type="text" name="decimal_place" class="span1" id="decimal_place" value="0"> 位
					</div> <!-- /controls -->				
				</div>
				
				<div class="control-group">											
					<label class="control-label" for="group_id">分组号</label>
					<div class="controls">
						<select name="group_id" id="group_id">
							<option value="0">分组号</option>
							{{range $k, $v := .groups}}
							<option value="{{$v.GroupNumber}}">{{$v.GroupNumber}}</option>
							{{end}}
						</select>
					</div>				
				</div>

				<div class="control-group">											
					<label class="control-label" for="description">限定字段</label>
					<div class="controls">
							<input type="text" name="limit_field" class="span6" id="limit_field">
					</div> <!-- /controls -->				
				</div> 
				
				<div class="control-group">											
					<label class="control-label" for="description">限定字段值</label>
					<div class="controls">
							<input type="text" name="item_data" class="span6" id="item_data">
					</div> <!-- /controls -->				
				</div> 
				
					<div class="control-group">											
					<label class="control-label" for="description">目标字段</label>
					<div class="controls">
							<input type="text" name="target_field" class="span6" id="target_field">
					</div> <!-- /controls -->				
				</div> 
				
					<div class="control-group">											
					<label class="control-label" for="description">数据库表</label>
					<div class="controls">
							<input type="text" name="name_table" class="span6" id="name_table">
					</div> <!-- /controls -->				
				</div> 
				
				
			
				<br />
				
					
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">保 存</button> 
					<a href="{{urlfor "SensorController.List"}}" class="btn">返 回</a>
				</div> <!-- /form-actions -->
			</fieldset>
		</form>

		</div>
	</div>
</div>
</div>

<script>
$(function () {
	$("form").submit(function () {
		$(".alert").hide();
		$("button[type='submit']").attr('disabled', true);
		$.post('{{urlfor "SensorController.Add"}}', $(this).serialize(), function (out) {
			if (out.status == 0) {
				window.location.href = '{{urlfor "SensorController.List"}}';
			} else {
				$(".alert").text(out.msg);
				$(".alert").show();
				$("button[type='submit']").attr('disabled', false);
			}
		}, "json");
		return false;
	});
	
});
</script>